@import '../../components/button/styles/variables.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 4rem 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;

  @media (min-width: 900px) {
    padding: 2rem 5rem;
    gap: 5rem 2rem;
  }
}

.c_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.button_card {
  background: $white;
  height: auto;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 5px 5px 5px rgba(1,1,1,0.02);
  transition: box-shadow .35s, transform .35s ease;

  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  will-change: transform;

  @media (min-width: 720px){
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  &:hover {
    box-shadow: 2px 5px 5px 5px rgba(1,1,1,0.04);
    transform: scale(1.03);
  }

  p {
    padding: 8px;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background: rgb(233, 233, 233);
    border-radius: 4px;
    color: rgb(175, 87, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;

    code {
      font-size: 1.1rem;
    font-size: clamp(14px, 2vw, 1rem);
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
