.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  min-height: 3rem;
  background: #FFF;
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 -5px 5px 5px rgba($color: #111, $alpha: 0.06);

  a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: color .4s ease;
    &:hover {
      color: #e11d74;
    }
  }
}
